<h1>Email de confirmation de compte</h1>
<p>Bonjour {{user.name}}</p>
<p>Cliquez sur ce lien pour activer votre compte <a href="{{absolute_url(path('verify_user',{token: token}))}} ">{{absolute_url(path('verify_user',{token: token}))}}</a></p>
<p>Ce lien expirera dans 1h</p>

